.location-container {
    position: relative;
}

.marker {
    opacity: 1;
    position: absolute;
    top: -71px;
    left: -16px;
    transition: all 0.3s ease-in-out;
}

.location-container:hover .marker {
    opacity: 1;
    transform: scale(1.5);
    left: 22px;
    top: -90px;
}